<a href="https://colab.research.google.com/github/Adjalma/Mini-Projeto-DNC/blob/main/Mini_Projeto_Walmart_DNC.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **A Questão de Negócio:**

# **O Entendimento do Negócio:**

Walmart, Inc., é uma multinacional estadunidense de lojas de
departamento.
A companhia foi fundada por Sam Walton em 1962, incorporada em 31 de
outubro de 1969 e feita capital aberto na New York Stock Exchange, em 1972.
No ano de 2021, obteve um um lucro de $13.51 Bilhões.
Sendo uma das principais lojas de varejo do mundo, os dados contemplam
as vendas semanais de 45 lojas espalhadas pelos Estados Unidos.
O Walmart realiza vários eventos promocionais de descontos ao longo do
ano.
Essas remarcações precedem feriados importantes, os quatro maiores de
todos, que são o Super Bowl, o Dia do Trabalho, o Dia de Ação de Graças e o
Natal.
As semanas que incluem esses feriados têm um peso maior.

A empresa me contratou para fazer um levantamento do
faturamento das lojas nos USA e apontar qual loja seria melhor para
expandir seu tamanho.

# **A Coleta de Dados:**

In [12]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import plotly.express as px
import plotly.graph_objects as go

# **A Limpeza de Dados:**

Carregammos nosso dataset por completo com a função do Pandas e notamos que ele possuem 21.613 registros (linhas).

In [4]:
#Visualizando o dataset para primeiras impressões:
walmart = pd.read_csv("/content/Walmart.csv")
walmart

,Store,Date,Weekly_Sales,Holiday_Flag,Temperature,Fuel_Price,CPI,Unemployment
0,1,05-02-2010,1643690.90,0,42.31,2.572,211.096358,8.106
1,1,12-02-2010,1641957.44,1,38.51,2.548,211.242170,8.106
2,1,19-02-2010,1611968.17,0,39.93,2.514,211.289143,8.106
3,1,26-02-2010,1409727.59,0,46.63,2.561,211.319643,8.106
4,1,05-03-2010,1554806.68,0,46.50,2.625,211.350143,8.106
...,...,...,...,...,...,...,...,...
6430,45,28-09-2012,713173.95,0,64.88,3.997,192.013558,8.684
6431,45,05-10-2012,733455.07,0,64.89,3.985,192.170412,8.667
6432,45,12-10-2012,734464.36,0,54.47,4.000,192.327265,8.667
6433,45,19-10-2012,718125.53,0,56.47,3.969,192.330854,8.667
6434,45,26-10-2012,760281.43,0,58.85,3.882,192.308899,8.667

# **A Exploração de Dados:**

In [5]:
# Foram utilizados as premissas abaixo:

In [9]:
melhores = walmart[(walmart["Holiday_Flag"]==1) & (walmart["Weekly_Sales"]>2906233.25)]

melhores

,Store,Date,Weekly_Sales,Holiday_Flag,Temperature,Fuel_Price,CPI,Unemployment
523,4,25-11-2011,3004702.33,1,47.96,3.225,129.836400,5.143
1329,10,26-11-2010,2939946.38,1,55.33,3.162,126.669267,9.003
1381,10,25-11-2011,2950198.64,1,60.68,3.760,129.836400,7.874
1901,14,26-11-2010,2921709.71,1,46.15,3.039,182.783277,8.724

**Contagem da quantidade de feriados e quantidade de dias normais**

In [11]:
walmart.Holiday_Flag.value_counts()

0    5985
1     450
Name: Holiday_Flag, dtype: int64

In [19]:
store = walmart[(walmart["Store"]==4)]
store

,Store,Date,Weekly_Sales,Holiday_Flag,Temperature,Fuel_Price,CPI,Unemployment
429,4,05-02-2010,2135143.87,0,43.76,2.598,126.442065,8.623
430,4,12-02-2010,2188307.39,1,28.84,2.573,126.496258,8.623
431,4,19-02-2010,2049860.26,0,36.45,2.540,126.526286,8.623
432,4,26-02-2010,1925728.84,0,41.36,2.590,126.552286,8.623
433,4,05-03-2010,1971057.44,0,43.49,2.654,126.578286,8.623
...,...,...,...,...,...,...,...,...
567,4,28-09-2012,2027620.23,0,71.74,3.666,131.043000,4.077
568,4,05-10-2012,2209835.43,0,63.07,3.620,131.075667,3.879
569,4,12-10-2012,2133026.07,0,57.11,3.603,131.108333,3.879
570,4,19-10-2012,2097266.85,0,64.46,3.610,131.149968,3.879
571,4,26-10-2012,2149594.46,0,63.64,3.514,131.193097,3.879

In [24]:
store_Holiday_Flag = store[store.Holiday_Flag == 1]

In [26]:
store_sales_Holiday_Flag = store_Holiday_Flag.Weekly_Sales.sum()

store_sales_Holiday_Flag

22431026.240000002

## ***Análise final + Sugestão de imóveis ***